/*
* @Author: Administrator
* @Date:   2017-10-29 15:54:35
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-29 19:28:45
*/
/*
* @Author: Administrator
* @Date:   2017-10-26 20:36:17
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-29 15:33:32
*/
/*
* @Author: Administrator
* @Date:   2017-10-26 18:32:31
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-26 20:28:45
*/
@import url(base.css);
/* 最上边开始编写 */
.icon-dianhua{
	font-size: 14px;
	color: white;
	margin-right: 5px;
}
.header-top{
	width: 100%;
	height: 44px;
	background: #00469C;

}
.header-top .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.header-top .left{
	/* height: 100%; */
	font-size: 14px;
	color: white;
}
.header-top .right{
	/* height: 100%; */
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.header-top .right a{
    display: inline-block;
	font-size: 14px;
	color: white;
}
.now-ye{
	width: 100%;
	height: 40px;
	background: #efeeee;
}
.now-ye .container{
	padding: 0 15px;
	display: flex;
	align-items: center;
	height: 100%;
}
.now-ye .container a{
	font-size: 14px;
	color: #333;
}



/* 头部开始编写 */
header{
	width: 100%;
	height: 75px;
	background: #fcfcfc;
}
header .container{
	height: 100%;
	display: flex;
	justify-content: space-between;
}
header .container .head-logo{
	/* float: left; */
	/* width: 40%; */
	display: block;
	height: 100%;
    padding: 7.5px 0;  
} 
header .container .head-logo .img-box{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-around;
} 
header .container .head-logo .img-box span{
	font-size: 20px;
	font-weight: bold;
	color: #0d60e9;
	height: 60px;
	line-height: 60px;
}
header .container .head-logo .img-box img{
	display: block;
	height: 100%;
	width: 100px;
}
header .container  .head-right{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
header .container  .head-right li{
	/* float: left; */
}
header .container  .head-right a{
    display: block;
    /* width: 106px; */
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 14px;
    color: #333;
    transition: all 0.3s;
}
header .container  .head-right a:hover{
	background: #fff;
}
/* header .container .biaoyu{
	font-size: 20px;
	font-weight: bold;
	color: #0d60e9;
	height: 100%;
	line-height: 75px;
} */
header .container  .caidan{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .container  .caidan span{
	height: 40px;
	width: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
    transition: 0.2s;
}
header .container  .caidan span:hover{
	border: 1px solid #666;
}
header .container  .caidan span:hover i{
	color: #666;
}
.icon-caidan{
	font-size: 24px;
	color: #ccc;
	transition: 0.2s;
}

.back{
	width: 100%;
	height: 250px;
	background: url('../img/chanping/gongyeyeyafa/01.jpg');
	/* background: rgba(127, 162,205,0.5); */
	position: relative;
}
.back .zhezhao{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(127, 162,205,0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
.back .zhezhao h1{
	font-size: 30px;
	font-weight: 700;
    color: white;
    margin-top: 10px;
}
.back .zhezhao .fenge{
	height: 1px;
	background: -webkit-linear-gradient(left,#89a7c4,white,#89a7c4);
	width: 65%;
	 margin-top: 20px;
}
.back .zhezhao .miaoshu{
    width: 65%;
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 20px;

}
/* 新闻资讯开始编写 */
.news{
	margin-bottom: 50px;
}
.news .container {
	display: flex;
	flex-direction: column;
}
.news .container h1{
	font-size:30px;
	color: #333;
	font-weight: 700; 
	margin-top: 30px;
	padding-left: 15px;
}
.news .container .fenge{
	height: 1px;
	width: 97.5%;
	background: -webkit-linear-gradient(left,#666,white);
	margin: 0 auto;
	margin-top: 20px;
}
.news .container .content{
	margin-top: 20px;
	
	/* overflow: hidden; */
}
.news .container .content2{
	height: 370px;
}
.news .container .content .img-box{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.news .container .content .img-box li{
	position: absolute;
	left: -555px;
	top: 0;
	width: 100%;
	height: 100%;
}

.news .container .content .img-box img{
	display: block;
	width: 100%;
    height: 100%;
}
.news .container .content1{
	font-size: 16px;
	color: rgb(119, 119, 119);
	text-indent: 2em;
	 letter-spacing: 0.1em;
}
.bashou{
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bashou1{
	position: absolute;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.2);
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: center;

}
.icon-zuoyoujiantou{
	font-size: 35px;
	color: #666;
}
.icon-zuoyoujiantou2{
	font-size: 35px;
	color: #666;
}
.shou:hover{
   background:rgba(0, 0, 0, 0.5); 
}
.shou:hover i{
	color: white;
}
.anniu {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 20px;
	width: 50px;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}
.anniu .xiaoyuan{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}

div.anniu .active{
	background: blue;
}
.content2 .miaoshu{
	position: absolute;
	background: rgba(127, 162,205,0.5);
	height: 60px;
	width: 100%;
	bottom: 0;
	left: 0;
}

/* 产品分类开始编写 */
.fenlei {
	background:#fafafa; 
}
.fenlei .container h1{
	font-size: 30px;
	font-weight: 600;
	color: #333;
	margin-top: 20px;
	padding-left: 15px;
}
.fenlei .container .fenge{
	height: 1px;
	width: 97.5%;
	background: -webkit-linear-gradient(left,#aba6a6,#fafafa);
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.fenlei .container .box{
	width: 100%;
	border: 1px solid #ecebeb;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	transition: all 0.2s;
}
.fenlei .container .box:hover{
	border: 1px solid #192be6;
}
.fenlei .container .box .title:hover {
	text-decoration: underline;
}
.fenlei .container .content{
	margin-bottom: 20px;
}
.fenlei .container .box img{
	display: block;
	width: 100%;
}
.fenlei .container .box a{
	display: block;
	margin-top: 20px;
	font-size: 20px;
	color: #333;
	margin-bottom: 20px;
	transition: all 0.2s;
}




/* 快速返回顶部按钮 */
.top-xs{
	display: block;
	position: fixed;
	right: 5px;
	bottom: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	/* cursor: pointer; */
	transition: all 0.2s;
}
.icon-jiantoushang{
	font-size: 30px;
	color: white;
}
.top-xs:hover{
	background: rgba(0, 0, 0, 0.7);
}


/* 尾部开始编写 */
footer{

	width: 100%;
	height: 350px;
	background: #222;
}
footer .container{
	height: 100%;
}
footer .row{
	height: 100%;
}
footer .content1{
	display: flex;
	justify-content: space-between;
    height: 100%;
}
footer .one{
	margin-top: 30px;
}
footer .one a{
	display: block;
	color: #a7a7a7;
	font-size: 14px;
	margin-top: 15px;
	transition: all 0.2s;
}
footer .one a:first-child{
	font-size: 16px;
}
footer .one a:hover{
	color: white;
}
footer .content2{
	height: 100%;
    display: flex;
    justify-content: space-around;

}
footer .content2 .footer-tu{
	margin-top: 30px;
}
footer .content2 .p1{
    font-size: 15px;
	color: white;
	text-align: center;
}

footer .content2 a{
	margin-top: 15px;
	display: block;
	width: 100px;
	height: 100px;
}
footer .content2 a img{
	display: block;
	width: 100%;
	height: 100%;
}

/* 移动端的底部布局 */
.icon{
	font-family: 'iconfont';
	font-style: normal;
}
.icon-arrow-down{
	font-size: 18px;
	color: white;
}
.footer2{
	width: 100%;
	background: black;
}
.footer2 a{
	display: block;
	width: 100%;
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #3c3a3a;
    display: flex;
    justify-content: space-between;
}
.footer2 a .s1{
	height: 100%;
	color: white;
	font-size: 14px;
	line-height: 45px;
}
.footer2 a .s2{
	line-height: 45px;
}

/* 最底部开始编写 */
.subfooter{
	background: #1b1919;
	height: 60px;
	width: 100%;
}
.subfooter .container{
	height: 100%;

	
}
.subfooter .container .left{
	font-size: 14px;
	color: #999;
}
.subfooter .container .right{
	display: flex;
	justify-content: space-around;
	/* width: 250px; */
}
.subfooter .container .right a{
	font-size: 14px;
	color: #999;
	transition: all 0.2s;
}
.subfooter .container .right a:hover{
	color: white;
}




@media screen and (max-width: 768px) {
	.header-top{
		padding: 0 15px;
	}
	.header-top .container .right{
		display: none;
	}
	.footer2{
		display: block;
	}
	footer{
		display: none;
	}

	.subfooter .container .left{
		text-align: center;
		padding: 5px 0;
	}
	header{
		padding: 0 15px;
	}
	header .container .head-logo span{
		display: none;
	}
	header .container .head-right{
		display: none;
	}
	.news .container .content .title{
		border: none;
	}
	.news .container .content .title  li{
		float: none;
	}
	.news .container .content .title  li a{
		width: 100%;
		border-top-right-radius: 0;
		border-radius: 5px;
		background: #efecec;
	}
}
@media screen and (max-width: 992px) and (min-width: 768px){
	.footer2{
		display: none;
	}

	.subfooter .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header .container .head-right{
		display: none;
	}
	header .container .biaoyu{
		display: none;
	}
	
}
@media screen and (max-width: 1200px) and (min-width: 992px){
	.footer2{
		display: none;
	}
	.subfooter .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header .container .biaoyu{
		display: none;
	}
	header .container  .caidan{
		display: none;
	}
	header .container  .head-right a{
		width: 97px;
	}

}
@media screen  and (min-width: 1200px){
	.footer2{
		display: none;
	}

	.subfooter .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header .container .biaoyu{
		display: none;
	}
	header .container  .caidan{
		display: none;
	}
	header .container  .head-right a{
		width: 97px;
	}
}