/*
* @Author: Administrator
* @Date:   2017-10-17 10:10:29
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-17 17:45:01
*/
@import url(base.css);
.container,.container-fluid{
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: auto !important;
	margin-right: auto !important;
	/* padding-left: 15px;
	padding-right: 15px; */
}
.row{
	width: 100%;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	/* margin-left: -15px;
	margin-right: -15px; */
}
.row:before,.row:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	clear: both;
}
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
/* 移动端优先 <768* col-xs*/
@media screen and (max-width: 768px){
	/* 没有固定宽度 */
	.col-xs-1{
		width: calc(100%/12);
	}
	.col-xs-2{
		width: calc(100%/6);
	}
	.col-xs-3{
		width: calc(100%/12*3);
	}
	.col-xs-4{
		width: calc(100%/12*4);
	}
	.col-xs-5{
		width: calc(100%/12*5);
	}
	.col-xs-6{
		width: calc(100%/12*6);
	}
	.col-xs-7{
		width: calc(100%/12*7);
	}
	.col-xs-8{
		width: calc(100%/12*8);
	}
	.col-xs-9{
		width: calc(100%/12*9);
	}
	.col-xs-10{
		width: calc(100%/12*10);
	}
	.col-xs-11{
		width: calc(100%/12*11);
	}
	.col-xs-12{
		width: calc(100%/12*12);
	}

}
/* 768-992 平板* col-sm*/
@media screen and (max-width: 992px) and (min-width: 768px) {
	.container{
		width: 750px;
	}
	.col-sm-1{
		width: calc(100%/12);
	}
	.col-sm-2{
		width: calc(100%/12*2);
	}
	.col-sm-3{
		width: calc(100%/12*3);
	}
	.col-sm-4{
		width: calc(100%/12*4);
	}
	.col-sm-5{
		width: calc(100%/12*5);
	}
	.col-sm-6{
		width: calc(100%/12*6);
	}
	.col-sm-7{
		width: calc(100%/12*7);
	}
	.col-sm-8{
		width: calc(100%/12*8);
	}
	.col-sm-9{
		width: calc(100%/12*9);
	}
	.col-sm-10{
		width: calc(100%/12*10);
	}
	.col-sm-11{
		width: calc(100%/12*11);
	}
	.col-sm-12{
		width: calc(100%/12*12);
	}
}
/* 992-1200PC小屏  col-md*/
@media screen and (max-width: 1200px) and (min-width: 992px) {
	.container{
		width: 970px;
	}
	.col-md-1{
		width: calc(100%/12);
	}
	.col-md-2{
		width: calc(100%/6);
	}
	.col-md-3{
		width: calc(100%/12*3);
	}
	.col-md-4{
		width: calc(100%/12*4);
	}
	.col-md-5{
		width: calc(100%/12*5);
	}
	.col-md-6{
		width: calc(100%/12*6);
	}
	.col-md-7{
		width: calc(100%/12*7);
	}
	.col-md-8{
		width: calc(100%/12*8);
	}
	.col-md-9{
		width: calc(100%/12*9);
	}
	.col-md-10{
		width: calc(100%/12*10);
	}
	.col-md-11{
		width: calc(100%/12*11);
	}
	.col-md-12{
		width: calc(100%/12*12);
	}
}
/* >1200PC大屏 lg*/
@media screen and (min-width: 1200px){
	.container{
		width: 1170px;
	}
	.col-lg-1{
		width: calc(100%/12);
	}
	.col-lg-2{
		width: calc(100%/6);
	}
	.col-lg-3{
		width: calc(100%/12*3);
	}
	.col-lg-4{
		width: calc(100%/12*4);
	}
	.col-lg-5{
		width: calc(100%/12*5);
	}
	.col-lg-6{
		width: calc(100%/12*6);
	}
	.col-lg-7{
		width: calc(100%/12*7);
	}
	.col-lg-8{
		width: calc(100%/12*8);
	}
	.col-lg-9{
		width: calc(100%/12*9);
	}
	.col-lg-10{
		width: calc(100%/12*10);
	}
	.col-lg-11{
		width: calc(100%/12*11);
	}
	.col-lg-12{
		width: calc(100%/12*12);
	}	

}
